@use "../abstracts/" as abs;

/*|| fonts used Asta=400, Josefin Sans= 300*/

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

html {
  font-size: 100%;
}

body {
  font-size: abs.$global-fontsize;
  font-family: "Josefin Sans", sans-serif;
}

/* focus property removed on hover but showed when element is tabed */
a {
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: initial;
  }
}

button {
  :focus {
    outline: none;
  }

  &:focus-visible {
    outline: initial;
  }
}
