@use "../abstracts/" as abs;

/*|| fonts used Asta=400, Josefin Sans= 300*/

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

html {
  font-size: 100%;
}

body {
  font-size: abs.$global-fontsize;
  font-family: "Josefin Sans", sans-serif;
}

/* focus property removed on hover but showed when element is tabed */
/* using offset property the outline is positioned away from the element
    the  second and third rule only apply when :focus-visible is supported
    source = https://moderncss.dev/modern-css-upgrades-to-improve-accessibility/*/
a {
  text-decoration: none;

  &:focus {
    outline: max(1, 0.1em) dashed #000;
    outline-offset: -0.25em;
  }
  /* remove the outline when is not tabed*/
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: max(1, 0.1em) dashed #000;
    outline-offset: -0.25em;
  }
}

button {
  &:focus {
    outline: max(1, 0.1em) dashed #000;
    outline-offset: -0.25em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: max(1, 0.1em) dashed #000;
    outline-offset: -0.25em;
  }
}
